body {
    background:rgb(32, 42, 44);
    font-size:1.5rem;
    color:white;
}

input, button {
    font-size:1.5rem;
    background:rgba(255, 255, 255, 0.193);
    color:white;
}

button {
    cursor:pointer;
}